@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Poppins:wght@500&display=swap');

.container{
    margin: 50px;
    /* line-height: 15px; */
    text-align: center;
    font-family: 'Pacifico', cursive;
    
}
#text{
    
    transition: color 1s linear;
    transform: scaleX(100%);
    transform-origin: left, right;
}
